<div ng-controller="home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:;" style="display:inline-block">
                    <img alt="Brand" src="img/bird.png" style="display:inline-block;width:70%;height:100%;">
                </a>
            </div>
            <button  id="btn" ng-click="locate();" type="button" class="btn btn-info navbar-btn" style="display: inline-block;float: right">
                location
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </button>
        </div>
    </nav>
    <div class="container">
        <ul class="media-list">
            <li class="media media-bottom">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="img/America.png" alt="..." style="width:64px;height:64px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Americas</h4>
                    The Americas (also collectively called America) encompass the totality of the continents of North and South America Together, they make up most of the land in Earth's western hemisphere and comprise the New World.
                </div>
            </li>
            <li class="media media-bottom">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="img/Italy.jpg" alt="..." style="width:64px;height:64px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Italy</h4>
                    Italy (Italian: Italia [iˈtaːlja] (About this sound listen)), officially the Italian Republic (Italian: Repubblica italiana),[7][8][9][10] is a unitary parliamentary republic in Europe.[note 1] Located in the heart of the Mediterranean Sea.
                </div>
            </li>
            <li class="media media-bottom">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="img/America.png" alt="..." style="width:64px;height:64px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Americas</h4>
                    The Americas (also collectively called America) encompass the totality of the continents of North and South America Together, they make up most of the land in Earth's western hemisphere and comprise the New World.
                </div>
            </li>
            <li class="media media-bottom">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="img/Italy.jpg" alt="..." style="width:64px;height:64px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Italy</h4>
                    Italy (Italian: Italia [iˈtaːlja] (About this sound listen)), officially the Italian Republic (Italian: Repubblica italiana),[7][8][9][10] is a unitary parliamentary republic in Europe.[note 1] Located in the heart of the Mediterranean Sea.
                </div>
            </li>
            <li class="media media-bottom">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="img/America.png" alt="..." style="width:64px;height:64px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Americas</h4>
                    The Americas (also collectively called America) encompass the totality of the continents of North and South America Together, they make up most of the land in Earth's western hemisphere and comprise the New World.
                </div>
            </li>
            <li class="media media-bottom">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="img/Italy.jpg" alt="..." style="width:64px;height:64px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Italy</h4>
                    Italy (Italian: Italia [iˈtaːlja] (About this sound listen)), officially the Italian Republic (Italian: Repubblica italiana),[7][8][9][10] is a unitary parliamentary republic in Europe.[note 1] Located in the heart of the Mediterranean Sea.
                </div>
            </li>
        </ul>
    </div>
</div>
<!--<script>-->
       <!--require('../lib/home.js');-->
<!--</script>-->
