<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;" style="display:inline-block">
                <img alt="Brand" src="img/bird.png" style="display:inline-block;width:70%;height:100%;">
            </a>
        </div>
        <button  id="btn" type="button" class="btn btn-info navbar-btn" style="display: inline-block;float: right">
            service
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
    </div>
</nav>