<div ng-controller="shopcart">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:;" style="display:inline-block">
                    <img alt="Brand" src="img/bird.png" style="display:inline-block;width:70%;height:100%;">
                </a>
            </div>
            <span style="display: inline-block;margin-top:16px;font-family:'微软雅黑';font-style: italic">
                {{ username }}
            </span>
            <button  id="btn" type="button" class="btn btn-info navbar-btn" style="display: inline-block;float: right">
                shopcart
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
        </div>
    </nav>
        <div style="height:678px;overflow-y:scroll" ng-scroll="loadData()">
                <div class="scroll">
                    <div class="btn-lists">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" ng-click="setTableLayout()">
                                <span class="glyphicon glyphicon-th-large"> </span>
                            </label>
                            <label class="btn btn-primary" ng-click="setListLayout()">
                                <span class="glyphicon glyphicon-th-list"> </span>
                            </label>
                        </div>
                    </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3524737335,1265179251&fm=26&gp=0.jpg" alt="...">
                                <div class="caption">
                                    <h4>Apple MacBook Pro</h4>
                                    <p>15.4英寸笔记本电脑 银色(Core i7 处理器/
                                        16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                    <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove" ng-click="loadData()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                                </div>
                            </div>
                        </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://img.xiazaizhijia.com/uploads/2017/0119/20170119020917771.jpg" alt="...">
                            <div class="caption">
                                <h4>Apple MacBook Pro</h4>
                                <p>15.4英寸笔记本电脑 银色(Core i7 处理器/16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3524737335,1265179251&fm=26&gp=0.jpg" alt="...">
                            <div class="caption">
                                <h4>Apple MacBook Pro</h4>
                                <p>15.4英寸笔记本电脑 银色(Core i7 处理器/16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3524737335,1265179251&fm=26&gp=0.jpg" alt="...">
                            <div class="caption">
                                <h4>Apple MacBook Pro</h4>
                                <p>15.4英寸笔记本电脑 银色(Core i7 处理器/
                                    16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove" ng-mouseenter="loadData()" ng-class="{btn-:true}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://img.xiazaizhijia.com/uploads/2017/0119/20170119020917771.jpg" alt="...">
                            <div class="caption">
                                <h4>Apple MacBook Pro</h4>
                                <p>15.4英寸笔记本电脑 银色(Core i7 处理器/16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3524737335,1265179251&fm=26&gp=0.jpg" alt="...">
                            <div class="caption">
                                <h4>Apple MacBook Pro</h4>
                                <p>15.4英寸笔记本电脑 银色(Core i7 处理器/16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://img.xiazaizhijia.com/uploads/2017/0119/20170119020917771.jpg" alt="...">
                            <div class="caption">
                                <h4>Apple MacBook Pro</h4>
                                <p>15.4英寸笔记本电脑 银色(Core i7 处理器/16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://img.xiazaizhijia.com/uploads/2017/0119/20170119020917771.jpg" alt="...">
                            <div class="caption">
                                <h4>Apple MacBook Pro</h4>
                                <p>15.4英寸笔记本电脑 银色(Core i7 处理器/16GB内存/256GB SSD闪存/Retina屏 MJLQ2CH/A)</p>
                                <p><a href="#" class="btn" role="button" data-toggle="tooltip" data-placement="top" title="remove"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a></p>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
</div>
<script>
    require('../lib/shopcart.js');
</script>
<style>
    .btn-lists{
        width:97%;
        margin:5px auto;
        overflow: hidden;
    }
    .btn-lists .btn-group{
        float:right;
    }
    .box{

    }
</style>


